{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .PageTitle}}
<body>
    {{template "header" .PageTitle}}
    <main>
    {{range .Blocks}}
        <!-- each varible from .Blocks to variable . -->
        {{template "block" .}} 
    {{end}}
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}